

.G1, .O1, .O2, .G2, .L1, .E1 {
  font-family: 'Product Sans';
  src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
  font-size: 150px;
  position: absolute;
}

.G1 {
  left: 400px;
  top: 150px;
  color: #4285F4;
}

.G1:before {
  content: "G";
}

.G1:hover:before {
  font-family: 'Work Sans', sans-serif;
  content: "v";
  font-weight: bold;
  text-decoration: underline;
  color: #ff1444;
}

.O1 {
  left: 550px;
  top: 150px;
  color: #DB4437;
  text-decoration: none;
}

.O1:before {
  content: "o";
}

.O1:hover:before {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  content: "e";
  color: #ff1444;
}

.O2 {
  left: 660px;
  top: 150px;
  color: #F4B400;
  text-decoration: none;
}

.O2:before {
  content: "o";
}

.O2:hover:before {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  content: "r";
  color: #ff1444;
}

.G2 {
  left: 770px;
  top: 150px;
  color: #4285F4;
  text-decoration: none;
}

.G2:before {
  content: "g";
}

.G2:hover:before {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  content: "i";
  color: #ff1444;
}

.L1 {
  left: 890px;
  top: 150px;
  color: #0F9D58;
  text-decoration: none;
}

.L1:before {
  content: "l";
}

.L1:hover:before {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  content: "l";
  color: #ff1444;
}

.E1 {
  left: 950px;
  top: 150px;
  color: #DB4437;
  text-decoration: none;
}

.E1:before {
  content: "e";
}

.E1:hover:before {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  content: "y";
  color: #ff1444;
}

.flex-container {
  text-align: center;
  border-radius: 15px;
  border: solid 1px #D0D0D0;
  background:#D0D0D0;
  padding: 15px;
  width: 200px;
  transition-duration: .4s;
  position: absolute;
  top: 500px;
  left: 600px;
}

.flex-container a {
  color: white;
  text-decoration: none;
  font-family: futura;
}

.flex-container:hover {
  transform: scale(1.15);
  transition-duration: .4s;
}

.outer-image-flex-container {
  width: 523px;
  height: 316px;
  padding: 25px;
  background: #FFD3D3;
  box-shadow: 5px 5px 5px #d7dbdb;
  margin-right: 30px;
}

.verily {
  flex: 1;
  width: 431px;
  height: 211px;
  margin-left: 45px;
  margin-top: 45px;
}

.outer-text-flex-container {
    width: 507px;
    height: 316px;
    padding: 25px;
    background: #E8FBFF;
    box-shadow: 5px 5px 5px #d7dbdb;
    justify-content: center;
    margin-left: 30px;
}

.inner-text-flex-container {
  box-shadow: 5px 5px 5px #d7dbdb;
  background: white;

}

.inner-text-flex-container p{
  text-align: center;
  padding: 15px;
  font-family: futura;
  color: #707070;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flex-container-back {
  position: relative;
  top: -100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 15px;
  border: solid 1px #D0D0D0;
  background:#D0D0D0;
  padding: 15px;
  width: 200px;
  transition-duration: .4s;
}

.flex-container-back a {
  color: white;
  text-decoration: none;
  font-family: futura;
}

.flex-container-back:hover {
  transform: scale(1.15);
  transition-duration: .4s;
}

#backbutton {
  text-align: center;
  border-radius: 15px;
  margin-right: auto;
  border: solid 1px #D0D0D0;
  background:#D0D0D0;
  padding: 15px;
  width: 200px;
  color: white;
  text-decoration: none;
  font-family: futura;
  transition-duration: .4s;
}
