#title {
  font-family: futura;
  font-size: 150px;
  text-align: center;
  position: relative;
  top: 200px;
  color: #707070;
  text-shadow: 2px 2px 2px #c9c9c9;
}

.flex-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.started-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
  height: 132px;
  margin: 50px;
  background: #C6C6C6;
  border-radius: 100px;
  box-shadow: 3px 3px 3px #c9c9c9;

  font-family: futura;
  font-size: 40px;
  color: white;
  text-decoration: none;
  transition-duration: .4s;
}

.started-button:hover {
  transform: scale(1.15);
  transition-duration: .4s;
  text-decoration: none;
}

.easy-button {
  color: #707070;
  font-weight: bold;
  font-family: futura;
  font-size: 45px;
  text-decoration: none;
}

.easy-button:hover {
  color: #DD9797;
  text-decoration: overline;
}

#easy-text {
  color: #707070;
  font-family: futura;
  font-size: 30px;
}

.to-family {
  display: inline-block;
  text-decoration: none;
  font-family: futura;
  font-size: 30px;
  color: #707070;
  position: absolute;
  top: 110px;
  left: 225px;
}

.to-family:hover {
  color: #DD9797;
  text-decoration: underline;
}

.to-family:hover + #easy-text {
  color: #C6C6C6;
}

.family-button {
  position: relative;
  color: #707070;
  font-weight: bold;
  font-family: futura;
  font-size: 45px;
  text-decoration: none;
  position: fixed;
  top: 35%;
  left: 35%;
}

.family-button:hover {
  color: #DD9797;
  text-decoration: overline;
}

#family-text {
  position: relative;
  color: #707070;
  font-family: futura;
  font-size: 30px;
  position: absolute;
  top: 43%;
  left: 35%;
}

.to-change {
  display: inline-block;
  text-decoration: none;
  font-family: futura;
  font-size: 30px;
  color: #707070;
  position: absolute;
  top: 43%;
  left: 51%;
  display: inline-block;
  z-index: 1;
}

.to-change:hover {
  color: #DD9797;
  text-decoration: underline;
}

.to-change:hover + #family-text {
  color: #C6C6C6;
}

#change-text {
  position: relative;
  color: #707070;
  font-family: futura;
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 70%;
}

.change-button {
  position: relative;
  color: #707070;
  font-weight: bold;
  font-family: futura;
  font-size: 45px;
  text-decoration: none;
  position: fixed;
  top: 72%;
  left: 70%;
}

.change-button:hover {
  color: #DD9797;
  text-decoration: overline;
}
